extends header

block content
    
    div
        h1
            | Have any questions or comments!? Contact us here! 
        h1
            | We will try to get back to you as soon as we can!

    form(action='/contact_office_submission', method='GET')
        
        p 
            label(for ='name') Enter Your Name: 
            input(type='text', name='name', id='name', required)
    
        p
            label(for='email') Enter your email so we can get back to you: 
            input(type='text', name ='email', id='email', required)
    
        p
            label(for='message') Message: 
            textarea(name='message', id='message', rows='4', cols='70', required)
    
        p
            input(type='submit', name='submit', value='Contact Us!')


    if sent
        h2
            | Your message was sent!!
