
doctype html
html
  head
    title #{title}
    link(href='/basics.css', rel='stylesheet')
    

header   
    img(src='site logo.png', alt='Camp Summer logo')

    nav
        a(href='/home') Home
        a(href='/contact_camper') Contact Camper
        a(href='/contact_office') Contact Office
        a(href='/staff_info') Staff Info

body
    main
      
        block content
