
extends header

block content
    h1
        | Sent your children to camp and want to know how they are doing?
    h2
        | If yes this is the site for you!

    p
        | On the navigation bar above, click 'staff info' to get the contact information of many staff members in camp.
     
    p
        | If you want to contact your child through the camp office, hit the 'contact camper' tab above!
	
    p
        | Any questions or messages for our office staff? Contact us through the 'contact office' tab.

          

    h1 
        | We are so excited for an amazing summer!!
